@media (max-width: 700px) {
    main {
        flex-direction: column;
    }

    .nav--hidden {
        transform: translateY(calc(-1 * var(--nav-height) * 6));
    }

    .menu {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        left: 0;
        right: 0;
        background: #F3F3F3;
        gap: 20px;
        padding: 10px;
        transition: 0.5s ease;
        box-shadow: 0px 15px 10px -15px #111;
    }
    .menu.open {
        display: flex;
    }

    .burger-menu {
        display: block;
        font-size: 20px;
        margin-top: 5px;
    }
    .burger-menu:hover {
        opacity: 0.8;
        font-size: 1.5rem !important;
    }

    .showExpensesNav {
        gap: 10px;
    }
    .showExpensesNav ul li {
        flex-direction: column;
        gap: 10px;
    }

    .expenseTable {
        border: none;
    }
    .headerList {
        display: none;
    }
    .innerList, .innerList td {
        display: block;
        width: 100%;
    }
    .innerList {
        margin-bottom: 50px;
    }
    .innerList td {
        text-align: right;
        position: relative;
        border-bottom: none;
        border-top: 1px solid #C5E898;
        border-left: 1px solid #C5E898;
        border-right: 1px solid #C5E898;
    }
    .innerList td:last-of-type {
        border-bottom: 1px solid #C5E898;
    }
    .innerList td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        text-align: left;
        padding-left: 10px;
        width: 50%;
    }

    .chartHeader {
        display: flex;
        flex-wrap: wrap;
    }
    .chartHeader h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex: 0 1 50%;
    }
    
}